<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>


</head>

<body>


    <form action="{{ ruta_accion }}" method="POST">
        <button type="submit" class="btn-progreso">
            <span class="btn-texto">{{ texto_boton }}</span>
            <svg class="btn-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2h6z" fill="currentColor" />
            </svg>
        </button>
    </form>
</body>

</html>